/*ALL*/
  header, section, footer, aside, nav, main, article, figure {
      display: block; 
  }
  body {
    font-family: "Century Gothic", sans-serif;
    color: #2f3738;
    margin: 0px;
    background-color: #f2f2f2;
  }
  header {
    background-color: ;
    height: 129px;
  }
  header img {
    padding-left: 50px;
    padding-right: 30px;
    height: 120px;
    width: 120px;
    float:left;
    margin-top: 4px;
    margin-bottom: 4px;
  }
  header h1 {
    padding-top: 20px;
    padding-left: 20px;
  }
  header h2 {
    margin-bottom: 0px;
    padding-bottom: 20px;
    padding-left: 20px;
  }
  #page_container {
    position:absolute;
    right:262px;
  }
  nav {
    border-top: 2px ridge silver;
    border-bottom: 2px ridge silver;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #647678;
    position: relative;
  }
  nav a {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    color: #d5fbff;
    text-decoration: none;
  }
  nav a:hover {
    background-color: #d5fbff;
    color: #2f3738;
  }
  nav a:visited {
    text-decoration: none;
  }
  #right_rail {
    position: absolute;
    right: -262px;
    top: 0px;
    bottom: 0px;
    border-left: 2px ridge silver;
    padding-left: 30px;
    padding-right:30px;
    background-color: #d5fbff;
    width: 200px;
}
/*site index*/
  #site-intro {
    padding-left:50px;
    padding-right: 50px;
  }
  /*#right-sidebar*/
    #follow_me {
    position: relative;
  }
  #follow_me a {
    color: #647678;
    text-decoration: none;
  }
  #follow_me a:hover {
    background-color: #647678;
    color: #d5fbff;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
  }
  #follow_me a:visited {
    text-decoration: none;
  }
  #follow_me li {
    margin-top: 16px;
    margin-bottom: 16px;
  }
/*ALL*/
  footer {
    border-top: 2px ridge silver;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left:50px;
    background-color: #647678;
    color: #d5fbff;
    position: absolute;
    left: 0px;
    right: -262px;
  }
  footer img {
    width: 30px;
    height: 30px;
  }
  footer a {
    padding: 4px;
  }