#blog-intro {
  padding-left:50px;
  padding-right: 50px;
  float: left;
  font-family: Papyrus, fantasy;
}
#browse-topics {
  float: right;
  border-left: 2px ridge silver;
  height: 693px;
  padding-left: 30px;
  padding-right:30px;
  background-color: #d5fbff;
  width: 18%;
}
#browse-topics a {
  color: #647678;
  text-decoration: none;
}
#browse-topics a:hover {
  background-color: #647678;
  color: #d5fbff;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
}
#browse-topics a:visited {
  text-decoration: none;
}
#browse-topics li {
  margin-top: 16px;
  margin-bottom: 16px;
}
#short-blog {
  clear:left;
  font-family: Papyrus, fantasy;
}
#short-blog p {
  padding-left:50px;
  padding-right: 26%;
}
#short-blog h3 {
  margin-top: 15px;
  margin-bottom: 0px;
  padding-left:50px;
  padding-right: 50px;
}
#short-blog h4 {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left:50px;
  padding-right: 50px;
}
article {
  clear: left;

  padding-left: 50px;
  padding-right: 26%;
  font-family: Papyrus, fantasy;
}
article p::first-letter {
  font-size: 30px;
}

article h1 {
  margin-bottom: 0px;
}
article h2 {
  margin-top: 0px;
  margin-bottom: 0px;
}
article h4 {
  margin-top: 0px;
}
#container {
    width: 600px;
    margin: 0 auto;
    padding: 20px;
}
.pagination {
    background: #f2f2f2;
    padding: 20px;
}
.page {
    display: inline-block;
    padding: 0px 9px;
    margin-right: 10px;
    border-radius: 3px;
    border: solid 1px #c0c0c0;
    background: #e9e9e9;
    box-shadow: inset 0px 1px 0px rgba(255,255,255, .8), 0px 1px 3px rgba(0,0,0, .1);
    font-size: 1em;
    font-weight: bold;
    text-decoration: none;
    color: #717171;
    text-shadow: 0px 1px 0px rgba(255,255,255, 1);
}
.page:hover {
    background: #fefefe;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FEFEFE), to(#f0f0f0));
    background: -moz-linear-gradient(0% 0% 270deg,#FEFEFE, #f0f0f0);
}
.page.active {
    border: none;
    background: #FF530D;
    box-shadow: inset 0px 0px 8px rgba(0,0,0, .5), 0px 1px 0px rgba(255,255,255, .8);
    color: #f0f0f0;
    text-shadow: 0px 0px 3px rgba(0,0,0, .5);
}